@backgroundColor: rgba(20, 20, 20, .7);
@borderColor: grey;
@shadowColor: darken(@borderColor, 30%);
@overlayBackgroundColor: white;
@closeTriggerBG: black;
@closeTriggerFG: white;


.overlay {
  display: flex;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: fade(@backgroundColor, 20%);
  justify-content: center;
  align-items: flex-start;
  transition: visibility, background-color 130ms, 180ms ease-out;
  transition-delay: 150ms;
  &> div {
    position: relative;
    background-color: @overlayBackgroundColor;
    border: 1px solid @borderColor;
    margin-top: 2em;
    padding: 2em 1em;
    width: 50%;
    box-shadow: 5px 5px 10px @shadowColor;
    opacity: 0;
    transition: opacity 200ms ease-in;
    .close {
      &:active,
      &:hover {
        color: darken(@closeTriggerFG, 30%);
        box-shadow: -1px -1px 5px lighten(@closeTriggerBG, 10%);
      }
      text-decoration: none;
      display: inline-block;
      position: absolute;
      right: -1px;
      top: -1px;
      background-color: @closeTriggerBG;
      padding: .2em;
      color: @closeTriggerFG;
      width: 1em;
      height: 1em;
      text-align: center;
      line-height: .8em;
    }
  }
  &.active {
    background-color: @backgroundColor;
    transition: background-color 220ms ease-in;
    visibility: visible;
    transition-delay: 30ms;
    &> div {
      opacity: 1;
      transition: opacity 300ms ease-in;
    }
  }
}
